.snakemake
logs   
__pycache__
Miniconda3-latest-Linux-x86_64.sh
run_scgen.log
.cache
.config
.bashrc
cellot.egg-info
.cache
.config
.nv
.local
flags
results
config
*config/datasets.tsv
scripts/scvidr/vidr/__pycache__
scripts/scdisinfact/scDisInFact_/__pycache__
scripts/trvae/trvaep/__pycache__
scripts/trvae/trvaep/model/__pycache__