.snakemake
scgen_env-latest.simg
scgen-env.yml
logs   
envs
__pycache__
Miniconda3-latest-Linux-x86_64.sh
run_scgen.log
.cache
.config
.bashrc
cellot.egg-info
.cache
.config
.nv
.local
envs
config
flags
